.viewer__container {
  display: grid;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  margin: 0 22.1px;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 24px;
  margin-bottom: 64px;
  .sidebar {
    // background-color: springgreen;
    position: sticky;
    top: 10%;
    height: max-content;
    border: 1px solid #dadbdd;
    .tab__style {
      min-height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-link.active {
        width: 33.33%;
        color: #1dbf73;
        border-bottom: 3px solid #1dbf73;
        background-color: #fff;
        font-weight: 700;
        text-align: center;
      }
    }

    .content {
      padding-top: 20px;
      padding-right: 24px;
      padding-left: 24px;
      h3 {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        font-weight: 400;
        color: #404145;
        b {
          display: inline-flex;
          min-height: 48px;
        }

        .price {
          font-weight: 600;
          font-size: 21px;
          line-height: 24px;
        }
      }
      p {
        min-height: 63px;
        word-break: break-word;
        font-size: 15px;
        line-height: 140%;
        margin-top: 10px;
      }

      .content__info {
        display: flex;
        margin-bottom: 8px;
        color: #62646a;
        :last-child {
          margin-left: 16px;
        }
        .icon {
          font-size: 1.2rem;
          font-weight: 600;
        }
        .icon__info {
          margin-left: 8px;
        }
      }

      .features {
        color: #95979d;
        margin-bottom: 20px;

        ul,
        li {
          list-style-type: none;
          font-size: 16px;
          font-weight: 600;
        }
        .tick__icon {
          font-weight: 800;
          fill: #1dbf73;
          width: auto;
          height: auto;
          padding-right: 12px;
        }
      }

      .content__footer {
        .continue {
          width: 100%;
          padding: 12px 20px;
          background-color: #1dbf73;
          font-size: 16px;
          line-height: 16px;
          font-weight: 700;
          color: #fff;
          border: 1px solid transparent;
          border-radius: 3px;
          cursor: pointer;
        }
        .compare {
          width: 100%;
          background: transparent;
          color: #1dbf73;
          padding: 12px 0;
          border: 0;
          text-align: center;
          outline: none;
        }
      }
    }
  }
  .left__container {
    display: flex;
    flex-direction: column;
    margin-right: 9.15%;

    .carousel .slide {
      background-color: #f5f5f5;
      border: 1px solid #efeff0;
      height: 66.53vh;

      img {
        height: 100%;
        padding: 1rem;
        width: auto;
        object-fit: scale-down;
      }

      @media screen and (min-width: 1280px) {
        height: 50.53vh;
      }

      @media screen and (max-width: 960px) {
        height: 38.53vh;
      }

      @media screen and (max-width: 768px) {
        height: 28.53vh;
      }

      @media screen and (max-width: 400px) {
        height: 24.53vh;
      }
    }

    .img__container {
      margin: 0 auto;
      height: 100%;
      width: auto;
    }

    .user__info {
      margin-bottom: 32px;
      .username {
        font-size: 16px;
        vertical-align: baseline;
        padding-left: 0.5rem;
        font-weight: 600;
      }

      .user__profile {
        width: 40px;
      }
    }

    .work {
      padding-bottom: 16px;
      font-size: 28px;
      color: #404145;
      font-weight: 700;
    }
  }

  // Gallery Discription
  .gig-description {
    .title {
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 25px;
      font-weight: 700;
      color: #404145;
    }

    .decription__wrapper {
      padding-bottom: 20px;

      .description__content {
        overflow: hidden;
        color: #62646a;
        word-wrap: break-word;
        word-break: break-word;
      }

      .package__type {
        font-size: 19px;
        line-height: 26px;

        td {
          vertical-align: text-top;
          text-align: left;
          padding-left: 16px;
          padding-right: 16px;
        }

        tr td {
          width: 25%;
        }

        tr th {
          color: #7a7d85;
          font-weight: 400;
          text-align: left;
          padding: 12px 16px;
          vertical-align: text-top;
        }
      }
    }
  }

  .nav-link {
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    width: 33.33%;
    color: #7a7d85;
    border: 1px solid #dadbdd;
    font-weight: 700;
    height: 60px;
    border-radius: 0;
    padding-top: 16px;
  }
}
